packages:
  yum:
    git: []
option_settings:
  aws:elasticbeanstalk:container:ruby:
    RubyVersion: 3.3
    RailsEnv: production
  aws:elasticbeanstalk:environment:proxy:
    GzipCompression: true
  aws:elasticbeanstalk:application:environment:
    BUNDLE_WITHOUT: "development:test"
    NODE_ENV: production
    RAILS_MAX_THREADS: 5
    WEB_CONCURRENCY: 2
